.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider {
    position: relative;
    width: 200px;

    .slider__track,
    .slider__range,
    .slider__lefValue,
    .slider__rightValue {
      position: absolute;
    }

    .slider__track,
    .slider__range {
      border-radius: 3px;
      height: 5px;
    }

    .slider__track {
      background-color: rgba(101, 104, 180, 0.85);
      width: 100%;
      z-index: 1;
    }

    .slider__range {
      background-color: #21268f;
      z-index: 2;
    }
  }

  .slider__leftValue,
  .slider__rightValue {
    width: 30px;
    text-align: center;
    background-color: #21268f;
    border-radius: 3px;
    padding: 2px;
    color: #dee2e6;
    font-size: 12px;
    margin-top: -35px;
  }

  .slider__leftValue {
    left: 6px;
  }

  .slider__rightValue {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }

  .thumbLeft {
    z-index: 3;
  }

  .thumbRight {
    z-index: 4;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #dbd2ff;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    border: 4px solid #21268f;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #dbd2ff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #dbd2ff;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
}


