.pack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  padding-left: 40px;
  position: relative;
  text-align: left;
  color: #000;
  line-height: 16px;
  margin: 24px auto;
}

.btnBlock {
  margin-right: 40px;
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name {
  width: 30%;
}
.cardsCount {
  text-align: center;
  width: 5%;
}
.updatedDate {
  text-align: center;
  width: 20%;
}
.user_name {
  text-align: center;
  width: 23%;
}
