.packPage {
  display: flex;
  margin-bottom: 50px;
  width: 90%;
}
.title {
  width: 90%;
  margin: 20px auto 20px auto;
}
.icon {
  width: 25px;
  height: 25px;
  position: relative;
  left: 80px;
  top: 8px;
}
