.inputWrapper {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;

  &:after {
    position: absolute;
    top: 52px;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background: #24254a;
    opacity: 0.2;
  }

  .input {
    width: 100%;
    outline: none;
    background-color: transparent;
    padding-bottom: 5px;
  }
}

.eye {
  position: absolute;
  height: 18px;
  width: 18px;
  right: 1px;
  top: 70%;
  border: none;
  transform: translateY(-50%);
  background: url(../../../assets/images/view.svg) no-repeat center/contain;
  cursor: pointer;
  z-index: 2;
  opacity: 0.5;
}

.eyeShow {
  background: url(../../../assets/images/no-view.svg) no-repeat center/contain;
}

.label {
  font-size: 13px;
  opacity: 0.5;
  color: #24254a;
  top: 30px;
}

.errorWrapper {
  &:after {
    position: absolute;
    top: 52px;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background: red;
    opacity: 0.8;
  }
}

.labelCheckbox {
  opacity: 1;
}

.searchWrapper {
  margin-left: 40px;
  width: 70%;
  &:after {
    content: none;
  }
}

.search {
  font-size: 20px;
  height: 40px;
  width: 85%;

  border: 1px solid #635D80;
  background: #D9D9F1;
  opacity: 0.6;

  position: relative;
  margin: 0 auto;
  padding-left: 50px;
  &:focus {
    opacity: 0.76;
  }
}
