.title {
  font-size: 26px;
  color: #2D2E46;
  margin-bottom: 32px;
  margin-top: 25px;
}
.subTitle {
  color: #2D2E46;
  font-size: 22px;
  margin-bottom: 40px;
}
.textContainer {
  opacity: 0.5;
  text-align: left;
  width: 80%;
  margin: 0 auto 150px auto;
  font-size: 18px;
}
.input {
  margin-bottom: 40px;
  text-align: left;
}
.infoContainer {
  margin: 20px auto 35px auto;
}