.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  &__container {
    width: 413px;
    max-height: 600px;
    background: #F9F9FE;
    border-radius: 8px;
    text-align: center;
    @media screen and (max-width: 600px) {
      width: 320px;
    }
  }

}