.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  &__container {
    width: 413px;
    height: 600px;
    background: #F9F9FE;
    border-radius: 50px;
    text-align: center;
  }
}