.auth {
  width: 200px;
  height: 36px;
  border-radius: 30px;
  color: #ECECF9;
  background-color: #21268F;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  opacity:0.5;
  transition: all 0.5s ease;
  &:hover{
    opacity: 1;
  }
}
.cancel_auth {
  width: 124px;
  height: 36px;
  border-radius: 30px;
  color: #21268F;
  background-color: #D7D8EF;
  cursor: pointer;
  opacity:0.6;
  transition: all 0.5s ease;
  &:hover{
    opacity: 1;
    color: #03053b;
  }
}
.show_my_pack {
  background-color: #FFFFFF;
  width: 96px;
  color: #2D2E46;
  text-align: center;
  height: 36px;
  cursor: pointer;
}
.show_all_pack {
  background: #9A91C8;
  color: #FFFFFF;
  text-align: center;
  width: 96px;
  height: 36px;
  cursor: pointer;
}
.delete {
  padding: 6px;
  height: 24px;
  background-color: #F1453D;
  color: #FFFFFF;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}
.edit_learn {
 padding: 6px;
  color: #21268F;
  background: #D7D8EF;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}
.pagination {
  width: 24px;
  height: 24px;
  color: #F2F5F7;
  background: #21268F;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}