.auth {
  width: 200px;
  height: 36px;
  border-radius: 30px;
  color: #ececf9;
  background-color: #21268f;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
.cancel_auth {
  width: 124px;
  height: 36px;
  border-radius: 30px;
  color: #21268f;
  background-color: #d7d8ef;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #03053b;
  }
}
.show_my_pack {
  background-color: #ffffff;
  width: 96px;
  color: #2d2e46;
  text-align: center;
  height: 36px;
  cursor: pointer;
}
.show_all_pack {
  background: #9a91c8;
  color: #ffffff;
  text-align: center;
  width: 96px;
  height: 36px;
  cursor: pointer;
}
.delete {
  padding: 6px;
  height: 24px;
  background-color: #f1453d;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}
.edit_learn {
  padding: 6px;
  color: #21268f;
  background: #d7d8ef;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}
.pagination {
  width: 24px;
  height: 24px;
  color: #f2f5f7;
  background: #21268f;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}

.hidden {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}
