.auth {
  width: 200px;
  height: 36px;
  border-radius: 30px;
  color: #ececf9;
  background-color: #21268f;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
.cancel_auth {
  width: 124px;
  height: 36px;
  border-radius: 30px;
  color: #21268f;
  background-color: #d7d8ef;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #03053b;
  }
}
.show_certain_packs {
  background-color: #ffffff;
  width: 96px;
  color: #2d2e46;
  text-align: center;
  height: 36px;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #21268f;
    color: white;
    font-weight: bold;
  }
}

.leftRounded {
  border-top-left-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}
.rightRounded {
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
}

.show_certain_packs_active {
  background: #9a91c8;
  color: #ffffff;
  text-align: center;
  width: 96px;
  height: 36px;
  cursor: pointer;
}
.delete {
  padding: 8px 12px;
  color: #ffffff;
  background: #f1453d;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
.edit_learn {
  padding: 8px 12px;
  color: #21268f;
  background: #d7d8ef;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #21268f;
    color: white;
  }
}
.pagination {
  width: 24px;
  height: 24px;
  color: #f2f5f7;
  background: #21268f;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}

.hidden {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
.pack_list {
  height: 100%;
  background: transparent;
  width: 173px;
  font-size: 15px;
  cursor: pointer;
}
.activeBtn {
  border-bottom: 3px solid #21268f;
  background-color: #dcccdb;
  height: 100%;
  width: 173px;
  font-size: 16px;
  cursor: pointer;
}
