.headerImage {
  width: 17px;
  height: 22px;
  border: 1px solid #2d2e46;
  rotate: 15deg;
  text-align: center;
  position: relative;
  left: 3.5%;
  top: 25%;
  z-index: 1;
  border-radius: 2px;
  background-color: #dcccdb;
}
.headerImageRotate {
  width: 17px;
  height: 22px;
  border: 1px solid #2d2e46;
  border-radius: 2px;
  rotate: -15deg;
  text-align: center;
  position: relative;
  left: 2%;
  top: 30%;
  z-index: 100;
  background-color: #dcccdb;
}
.iconImage {
  rotate: 20deg;
}
.iconImageSvg {
  rotate: -40deg;
}
