.ratingWrapper {
  display: flex;
}
.ratingContainer {
  color: #d7d8ef;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: #21268f;
    cursor: pointer;
  }
}
.ratingActive {
  opacity: 1;
  color: #21268f;
  cursor: pointer;
}
