.cardsHeader {
  display: flex;
  background-color: #ececf9;
  padding: 20px;
}
.question {
  margin-left: 70px;
}
.answer {
  margin-left: 150px;
}
.lastUpdate {
  margin-left: 180px;
}
.grade {
  margin-left: 140px;
}
